@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.shuffle-parent {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  will-change: transform;
  line-height: 1;
  font-size: 4rem;
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;
  visibility: hidden;
}

.shuffle-parent.is-ready {
  visibility: visible;
}

.shuffle-char-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: baseline;
  position: relative;
}

.shuffle-char-wrapper > span {
  display: inline-flex;
  will-change: transform;
}

.shuffle-char {
  line-height: 1;
  display: inline-block;
  text-align: center;
}

.ribbons-container {
  width: 100%;
  height: 100%;
  position: relative;
}

